body                      
{
    font-family: Arial;
    background-color: #E8E8E8;
}

h1
{
    font-size: 18pt;
}

p
{
    font-size: 22pt;
}

#main
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#head
{
    background-image: url(https://sketch.io/render/sketch53c3f8ebeafd5.png);
    height: 70px;
    padding: 40px;
}

#navi 
{
    background-color: #48649F;
    height: 20px;
    padding-left: 50px;
}

#navi a
{
    color: White;
}

#navi a:visited
{
    color: Black;
}

#content
{
    background-color: #43ADC7;
    width: 420px;
    position: absolute;
    font-weight: bold;
    padding: 40px;
    height: 1170px;
}

#seitenleiste
{
    background-color: #48649F;
    width: 260px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20pt;
    font-family: Arial;
    height: 1250px;
}
a.hover
{
    color: orange;
}










